* {
    box-sizing:border-box;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( teal, yellow );
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.taskList{
    margin-top: 2.25rem;
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
    min-width: 30%;
}

.containerList{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin-bottom: 0.5rem;
    min-width: 30%;
    background-color: white;
    font-size: 1rem;
}

h1 {
    color:rgb(82, 84, 86);
    margin-bottom: 5rem;
    font-size: 2.25rem;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

button{
    flex: 1;
}

.inputBox{
    flex: 1 1 0%;
    background-color: whitesmoke;
    font-size: 1rem;
}


.submit-btn{
    color: white;
    font-size: 1rem;
    background-image: linear-gradient(to right, rgb(247, 247, 59), rgb(225, 169, 64)
    );
}

.next {
    background-color: rgb(166, 163, 163);
    text-decoration:line-through;
}


