* {
    box-sizing:border-box;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(115, 156, 156);
}

.taskList{
    margin-top: 2rem;
}
h1 {
    color:rgb(82, 84, 86);
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.inputBox{
    flex: 1 1 0%;
    background-color: whitesmoke;
    font-size: 1.25rem;
}

.submit-btn{
    color: white;
    font-size: 1.25rem;
    background-image: linear-gradient(to right, rgb(247, 247, 59), rgb(225, 169, 64)
    );
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}



.container2 .text{
    color:antiquewhite;
    font-size: 1.25rem;
    width: 100%;
    display: block;
    padding: 1rem;
    transition: 0.4s;
}

.delete-btn{
    background-color: rgb(247, 247, 59)
}

.complete-btn{
    background-color: rgb(225, 169, 64)
}




#new-task-form{
    display: flex;
}
.next {
    background-color: rgb(204, 248, 149);
}